{% extends 'layout.html.twig' %}

{% block body %}
<!-- Post Content Column -->
<div class="col-md-8">
    <h1 class="my-4">
        {{ 'about_us.title'|trans({}, 'content') }}
        <small>Bible Miner</small>
    </h1>
    <!-- Blog Post -->
    <div class="card mb-4">
        {#<img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">#}
        <div class="card-body">
            <h2 class="card-title">Post Title</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Reiciendis aliquid atque, nulla? Quos cum ex quis
                soluta, a laboriosam. Dicta expedita corporis animi vero voluptate
                voluptatibus possimus, veniam magni quis!
            </p>
        </div>
        <div class="card-footer text-muted">
            Posted on January 1, 2017 by
            <a href="#">Start Bootstrap</a>
        </div>
    </div>
</div>
{% endblock %}