{% extends 'layout.html.twig' %}

{% block body %}
    <!-- Post Content Column -->
    <div class="col-md-8">
        {% include 'search.html.twig' %}
        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
            {{
            knp_pagination_render(bibleVerses)
            }}
        </ul>
        <!-- Title -->
        <h1 class="mt-4">{{ book.canonicalName }}</h1>
        <hr>

        {% for bibleVerse in bibleVerses %}
            <p id="{{ bibleVerse.verseReference|replace({' ' : "", ":" : ""}) }}">
            <sup>
                <a href="{{
                path('ranked_search') ~ '?searchTerms=' ~
                bibleVerse.verseText|striptags
                }}">
                    {{ bibleVerse.verseReference }}
                </a>
            </sup>
                {{  bibleVerse.verseText|raw }}
            </p>
        {% endfor %}

        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
            {{
            knp_pagination_render(bibleVerses)
            }}
        </ul>
    </div>
{% endblock %}

{% block javascripts %}
    <script language="JavaScript">
        $(window).on('load', function() {
            // Handler for .ready() called.
            if (window.location.hash) {
                let position = $(window.location.hash).offset().top;

                $("body, html").animate({
                    scrollTop: position  - ($('#fixed-header').outerHeight() + 20)
                }, 'slow');
            }
        });

        // $("a[href^='#']").click(function(e) {
        //     e.preventDefault();
        //
        //     let position = $($(this).attr("href")).offset().top;
        //     console.debug(position);
        //     $("body, html").animate({
        //         scrollTop: position - 100
        //     } /* speed */ );
        // });
    </script>
{% endblock %}

