<!-- Blog Entries Column -->
<div class="col-md-8">
    <!-- Search Widget -->
    <div class="card my-4">
        <h5 class="card-header">Search Bible</h5>
        <div class="card-body">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
    <h1 class="my-4">Page Heading
    <small>Secondary Text</small>
    </h1>
    <!-- Blog Post -->
    <div class="card mb-4">
        {#<img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">#}
        <div class="card-body">
            <h2 class="card-title">Post Title</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
            <a href="#" class="btn btn-primary">Read More &rarr;</a>
        </div>
        <div class="card-footer text-muted">
            Posted on January 1, 2017 by
            <a href="#">Start Bootstrap</a>
        </div>
    </div>

    <!-- Blog Post -->
    <div class="card mb-4">
        {#<img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">#}
        <div class="card-body">
            <h2 class="card-title">Post Title</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
            <a href="#" class="btn btn-primary">Read More &rarr;</a>
        </div>
        <div class="card-footer text-muted">
            Posted on January 1, 2017 by
            <a href="#">Start Bootstrap</a>
        </div>
    </div>

    <!-- Blog Post -->
    <div class="card mb-4">
        {#<img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">#}
        <div class="card-body">
            <h2 class="card-title">Post Title</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
            <a href="#" class="btn btn-primary">Read More &rarr;</a>
        </div>
        <div class="card-footer text-muted">
            Posted on January 1, 2017 by
            <a href="#">Start Bootstrap</a>
        </div>
    </div>

    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
        <li class="page-item disabled">
            <a class="page-link" href="#">&larr; Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">Next &rarr;</a>
        </li>
    </ul>

</div>