{% extends 'layout.html.twig' %}
{% block body %}
    <div class="col-md-8">
        {% include 'search.html.twig' %}
        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
            {{
            knp_pagination_render(bibleVerses)
            }}
        </ul>
        <!-- Entries -->
        {%  set i = 1 %}
        {% for bibleVerse in bibleVerses %}
            {% if i == 1 %}
            <div class="card mb-4">
                {#<img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">#}
                <div class="card-body">
                <h2 class="card-title">{{ bibleVerse.book.canonicalName }}</h2>
                <p class="card-text">
                <sup>
                    <a href="{{
                        path('ranked_search') ~ '?searchTerms=' ~
                    bibleVerse.verseText|striptags
                    }}">
                        {{ bibleVerse.verseReference }}
                    </a>
                </sup> {{ bibleVerse.verseText|raw }} <br />
            {% elseif i == 2 %}
                <sup>
                    <a href="{{
                    path('ranked_search') ~ '?searchTerms=' ~
                    bibleVerse.verseText|striptags
                    }}">
                        {{ bibleVerse.verseReference }}
                    </a>
                </sup> {{ bibleVerse.verseText|raw }} <br />
            {% else %}
                <sup>
                    <a href="{{
                    path('ranked_search') ~ '?searchTerms=' ~
                    bibleVerse.verseText|striptags
                    }}">
                        {{ bibleVerse.verseReference }}
                    </a>
                </sup> {{ bibleVerse.verseText|raw }}
                </p>
                <a href="{{ path('home_book', {'id': bibleVerse.book.id}) }}" class="btn btn-primary">{{ 'read_more'|trans }} &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    {{ bibleVerse.version.nameAbbreviation }}
                    <a href="#">{{ bibleVerse.version.canonicalName }}</a>
                </div>
            </div>
            {% set i = 0 %}
            {% endif %}
            {% set i = i + 1 %}
        {% endfor %}

        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
            {{
                knp_pagination_render(bibleVerses)
            }}
        </ul>
    </div>
{% endblock %}