{% extends 'layout.html.twig' %}
{% block stylesheets %}
    <style type="text/css">
        [data-toggle="collapse"] .fa:before {
        content: "\f139";
        }

        [data-toggle="collapse"].collapsed .fa:before {
        content: "\f13a";
        }
        .btn-group-xs > .btn, .btn-xs {
            padding  : .15rem .2rem;
            font-size  : .8rem;
            line-height  : .45;
            border-radius : .15rem;
        }
    </style>
{% endblock %}
{% block body %}
    <!-- Post Content Column -->
    <div class="col-md-8">
        {% include 'search.html.twig' %}
        {% if book is defined %}
            <h1 class="mt-4">{{ book.canonicalName }}</h1>
        {% else %}
            <h1 class="mt-4">{{ pageTitle|trans }}</h1>
        {% endif %}
        <hr>
        <div class="card my-4">
            <h5 class="card-header">
                <button class="btn btn-primary" type="button"
                        data-toggle="collapse" data-target="#summaryContent" aria-expanded="true"
                        aria-controls="summaryContent">
                    <i class="fa" aria-hidden="true"></i>
                </button>
                {{ 'tools.summary.title'|trans }}
            </h5>
            <div class="card-body show collapse" id="summaryContent">
                {% for sentence in summary %}
                    <p>
                        "{{ sentence|raw }}..."
                        <a class="btn btn-secondary btn-xs" href="{{
                        path('ranked_search') ~ '?searchTerms=' ~
                        sentence|striptags
                        }}">
                            <i class="fa fa-search"></i>
                        </a>
                    </p>
                {% endfor %}
            </div>
        </div>
        <div class="card my-4">
            <h5 class="card-header">
                <button class="btn btn-primary" type="button"
                        data-toggle="collapse" data-target="#keywordsContent" aria-expanded="true"
                        aria-controls="keywordsContent">
                    <i class="fa" aria-hidden="true"></i>
                </button>
                {{ 'tools.summary.keywords'|trans }}
            </h5>
            <div class="card-body show collapse " id="keywordsContent">
                <p>
                {% for keyword, score in keyWords %}
                        {{ keyword|raw }}&nbsp;
                {% endfor %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}

