{% extends 'layout.html.twig' %}
{% block body %}
    <div class="col-md-8">
        {% include 'search.html.twig' %}
        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
            {{ knp_pagination_render(bibleVerses) }}
        </ul>
        <!-- Entries -->
        {% for bibleVerse in bibleVerses %}
            <div class="card mb-4">
                {#<img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">#}
                <div class="card-body">
                    <h2 class="card-title">{{ bibleVerse.ref }}</h2>
                    <p class="card-text">{{ bibleVerse.verse_text |raw}}</p>
                    {#<a href="{{ path('home_book', {'name': bibleVerse.bibleBookCanonicalName}) }}" class="btn btn-primary">{{ 'read_more'|trans }} &rarr;</a>#}
                </div>
                <div class="card-footer text-muted">
                        <span class="mb-3">
                    <i>{{ bibleVerse.words }}</i>
                            </span>
                        <span class="mb-1" style="float: right !important;">
                    {% if app.request.locale  == 'es' %}
                        <a href="{{
                        path('ranked_search') ~ '?searchTerms=' ~
                        bibleVerse.verse_text|striptags
                        }}" class="btn btn-primary">
                            <i class="fa fa-search"></i>
                        </a>
                    {% else %}
                        <a href="{{
                        path('ranked_search') ~ '?searchTerms=' ~
                        bibleVerse.verse_text|striptags
                        }}" class="btn btn-primary">
                            <i class="fa fa-search"></i>
                        </a>
                    {% endif %}
                        </span>
                    {#<a href="#">{{ bibleVerse.version.canonicalName }}</a>#}
                </div>
            </div>
        {% endfor %}

        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
            {{ knp_pagination_render(bibleVerses) }}
        </ul>
    </div>
{% endblock %}