{% extends 'layout.html.twig' %}

{% block body %}
    <div class="col-md-8">
        <h1 class="my-4">Contact
            <small>Us</small>
        </h1>
        <!-- Blog Post -->
        <div class="card mb-4">
            {#<img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">#}
            <div class="card-body">
                <h2 class="card-title"></h2>
                {{ form_start(contact_form) }}
                {{ form_widget(contact_form) }}
                <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit"><i class="fa fa-send">&nbsp;Send</i></button>
                </span>
                {{ form_end(contact_form) }}
            </div>
            {#<div class="card-footer text-muted">#}
                {#Posted on January 1, 2017 by#}
                {#<a href="#">Start Bootstrap</a>#}
            {#</div>#}
        </div>
    </div>
{% endblock %}
