<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">
            Copyright &copy; 2018 - Bible Miner.
            <a href="mailto:webmaster@fluency-labs.com">Rafael E. Espinosa Santiesteban</a>
            All rights reserved.
        </p>
    </div>
    <!-- /.container -->
</footer>