<!DOCTYPE html>
<html lang="{{ app.request.locale }}">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Advanced search engine for King James and Reina-Valera-Gómez bible versions.">
    <meta name="author" content="Rafael E. Espinosa Santiesteban <webmaster@fluency-labs.com>">
{% if app.request.locale  == 'es' %}
    <meta name="keywords" content="biblia, reina valera, king james, motor de búsqueda, minería de texto" >
{% else %}
    <meta name="keywords" content="bible, reina valera, king james, search engine, text mining" >
{% endif %}
    <link rel="alternate" href="http://bible-miner.fluency-labs.com/en/" hreflang="x-default" />
    <link rel="alternate" href="http://bible-miner.fluency-labs.com/en/" hreflang="en" />
    <link rel="alternate" href="http://bible-miner.fluency-labs.com/es/" hreflang="es" />

{% if app.request.locale  == 'es' %}
    <title>{% block title %}Bible Miner (RVG){% endblock %}</title>
{% else %}
    <title>{% block titler %}Bible Miner (KJV){% endblock %}</title>
{% endif %}

    <!-- Favicon -->
    <link rel="icon"
          type="image/png"
          href="{{ asset('assets/images/logo_drk.png') }}">

    <!-- Bootstrap and template CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/app.css') }}">
    <!-- Custom styles for this template -->
    {% block stylesheets %}{% endblock %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-9793852002007270",
            enable_page_level_ads: true
        });
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131109747-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-131109747-1');
    </script>
    <!-- Bootstrap core JavaScript -->
    <script src="{{ asset('assets/runtime.js') }}"></script>
    <script src="{{ asset('assets/app.js') }}"></script>
</head>

<body>

<!-- Page Content -->
<div class="container">

    <div class="row">
        {% block navigation %}
            {% include 'navigation.html.twig' %}
        {% endblock %}
        {% include 'flash_messages.html.twig' %}
        {% block body %}{% endblock %}

        {% include 'sidebar.html.twig' %}
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}

{% block javascripts %}{% endblock %}

</body>

</html>