<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="fixed-header">
    <div class="container">
        <a class="navbar-brand" href="{{ path('home_index') }}">
            <img src="{{ asset('assets/images/logo_slv.png') }}" />
            Bible Miner
        </a>
        <button class="navbar-toggler"
                type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('home_index') }}">{{ 'menu.home'|trans }}
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('use_cases') }}">{{ 'menu.use_cases'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('about_us') }}">{{ 'menu.about'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('contact') }}">{{ 'menu.contact'|trans }}</a>
                </li>
                <li class="nav-item">
                    <sup><a class="nav-link" href="/en">en</a></sup>
                </li>
                <li class="nav-item">
                    <sup>|</sup>
                </li>
                <li class="nav-item">
                    <sup><a class="nav-link" href="/es">es</a></sup>
                </li>
            </ul>
        </div>
    </div>
</nav>