<!-- Search Widget -->
<div class="card my-4">
    <h5 class="card-header">{{ 'tools.title'|trans }}</h5>
    <div class="card-body">
        <h6>{{ 'tools.search.title'|trans }}</h6>
        {{ form_start(searchForm) }}
        <div class="input-group">
            <div class="col-lg-8">
                {{ form_widget(searchForm.searchTerms) }}
            </div>
            <div class="col-lg-2">
                {{ form_widget(searchForm.searchSummary) }}
                {{ form_label(searchForm.searchSummary) }}
                {#<span class="cr"><i class="cr-icon fa fa-check"></i></span>#}

            </div>
            <div class="col-lg-2">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                        {{ 'tools.search.button_label'|trans }}
                    </button>
                </span>
            </div>
        </div>
        {{ form_end(searchForm) }}
        <hr>
        <h6>{{ 'tools.browser.title'|trans }}</h6>
        {{ form_start(browserForm) }}
        <div class="input-group">
            <div class="col-lg-3">
                {{ form_widget(browserForm.book) }}
            </div>
            <div class="col-lg-3">
                {{ form_widget(browserForm.chapter) }}
            </div>
            <div class="col-lg-3">
                {{ form_widget(browserForm.verse) }}
            </div>
            <div class="col-lg-3">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-bookmark-o"></i>
                        {{ 'tools.browser.button_label'|trans }}
                    </button>
                </span>
            </div>
        </div>
        {{ form_end(browserForm) }}
        <hr>
        <h6>{{ 'tools.summary.title'|trans }}</h6>
        {{ form_start(summaryForm) }}
        <div class="input-group">
            <div class="col-lg-8">
                {{ form_widget(summaryForm.book) }}
            </div>
            <div class="col-lg-4">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-list"></i>
                        {{ 'tools.summary.button_label'|trans }}
                    </button>
                </span>
            </div>
        </div>
        {{ form_end(summaryForm) }}
    </div>
</div>

<script>
    let $book = $('#browser_form_book');
    let $chapter = $('#browser_form_chapter');
    let $verse = $('#browser_form_verse');
    // When sport gets selected ...
    $book.change(function() {
        if($book.val() !== null) {
            $chapter.prop('disabled', true);
            $verse.prop('disabled', true);
            let data = {};
            data['bookId'] = $book.val();
            // Submit data via AJAX to the form's action path.
            $.ajax({
                url: '{{ path('chapters_search') }}',
                type: 'get',
                data: data,
                success: function (response) {
                    $chapter.find('option:gt(0)').remove();
                    $verse.find('option:gt(0)').remove();
                    $.each(response, function (key, value) {
                        $chapter.append($("<option></option>")
                            .attr("value", value.chapter_number).text(value.chapter_number));
                    });
                    $chapter.prop('disabled', false);
                }
            });
        }
    });

    $chapter.change(function() {
        if($chapter.val() !== null) {
            let data = {};
            data['bookId'] = $book.val();
            data['chapterNumber'] = $chapter.val();
            // Submit data via AJAX to the form's action path.
            $.ajax({
                url : '{{ path('verses_search') }}',
                type: 'get',
                data : data,
                success: function(response) {
                    $verse.find('option:gt(0)').remove();
                    $.each(response, function(key,value) {
                        $verse.append($("<option></option>")
                            .attr("value", value.verse_number).text(value.verse_number));
                    });
                    $verse.prop('disabled', false);
                }
            });
        }
    });


</script>