<!-- Sidebar Widgets Column -->
<div class="col-md-4">
    <!-- Relevant Terms Widget -->
    <div class="card my-4">
        {% if  relevantTerms is defined%}
        <h5 class="card-header">{{ 'tools.search.details'|trans }}</h5>
        {% else %}
        <h5 class="card-header">{{ 'sidebar.title'|trans({}, 'content') }}</h5>
        {% endif %}
        <div class="card-body" style="padding: 8%;">
            {% if  relevantTerms is defined%}
            <div class="row">
                <span class="card-title">Relevant terms</span>&nbsp;
            </div>
            <div class="row">
                <table style="width: 100%;">
                    <thead>
                    <th>Word</th><th>Score</th>
                    </thead>
                {% for term in relevantTerms %}
                    <tr>
                        <td><i>{{ term.word }}</i></td>
                        <td>{{ term.score }}</td>
                    </tr>
                {% endfor %}
                </table>
            </div>
            {% else %}
            <div class="row">
                <p>{{ 'sidebar.description'|trans({}, 'content') }}</p>
            </div>
            {% endif %}
        </div>
        <div class="card-footer text-muted">
        {% if  relevantTerms is defined%}
            <i>Found&nbsp;{{ bibleVerses.getTotalItemCount }}&nbsp;results.</i>
        {% endif %}
        </div>
</div>

    <!-- Bible Books Widget -->
    <div class="card my-4">
        <h5 class="card-header">{{ 'browse_by_book'|trans }}</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                        {% for book in bibleBooks.firstColumn %}
                        <li>
                            <a href="{{ path('home_book', {'id': book.id}) }}">{{ book.canonicalName }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                        {% for book in bibleBooks.secondColumn %}
                            <li>
                                <a href="{{ path('home_book', {'id': book.id}) }}">{{ book.canonicalName }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>